<style>
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }
  .highlight { background: gainsboro;}
  </style>

<div class="container">
  <!-- <ul class="nav nav-tabs">
    <li ng-class="(selectedTab=='Recipes') ? 'highlight' : 'highlight'"><a ng-href="#/recipe" ng-click="selectTab('Recipes')">Recipes</a></li>
    <li ng-class="{'btn highlight': selectedTab == 'Shopping List'}"><a ng-href="#/shopping" ng-click="selectTab('Shopping List')">Shopping List</a></li>
  </ul> -->
  <button type="button" class="btn btn-success" ng-click="showCreateRecipe()">New Recipe</button>
  <br>
  <div ng-repeat="recipe in recipeList">
    <div class="panel panel-default" ng-click="showRecipeDetails(recipe.id)" style="width:50%">
      <div class="panel-heading">{{recipe.name}}</div>
      <div class="panel-body">{{recipe.description}}</div>
      <div class="panel-body"><img src="{{recipe.imageUrl}}" /></div>
    </div>
  </div>
  
  <div ng-if="show_create_recipe">
    <button type="button" class="btn btn-success" ng-click="saveRecipe()">Save</button>
    <button type="button" class="btn btn-danger" ng-click="cancelRecipe()">Cancel</button><br/><br/>
    Name
    <p><input type="text" ng-model="newRecipe.name"></p>
    Description
    <p><input type="text" ng-model="newRecipe.description"></p>
    Image
    <p><input type="text" ng-model="newRecipe.imageUrl"></p>
  </div>
</div>
